body {
  background-color: whitesmoke;
  font-family: roboto condensed,sans-serif;
}

.map {
  border: solid 1px;
  min-height: 380px;
  width: 100%;
}

#TheMap {
  height:380px
}

/***** Small displays *****/
.grid-container-toplevel {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto;
  grid-gap: 10px;
  margin-top: 10px;
}

#grid-item-header {
  grid-row: 1 / 2;
  padding: 10px;
  border-bottom-style: solid;
  border-bottom-color: rgb(171, 248, 48);
}

#grid-item-main {
  grid-row: 2 / 3;
  padding-left: 40px;
}

#grid-item-footer {
  grid-row: 3 / 4;
  padding-left: 10px;
  border-top-style: solid;
  border-top-color: rgb(171, 248, 48);
}

#grid-container-main {
  display: grid;
  height: 100%;
  grid-template-columns: auto;
  grid-template-rows: auto auto 400px auto;
}

#grid-item-dialog {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 10px;
  font-size: small; 
}

#grid-item-gpxinfo {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  padding: 10px;
}

#grid-item-map {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  padding: 10px;
}

/***** Large displays *****/
@media only screen and (min-width: 800px) {

	#grid-container-toplevel {
		display: grid;
    width: auto;
		margin: auto; /* centralize the whole container */
		grid-template-columns: 100%;
    grid-template-rows: 80px calc(100vh - 145px) 40px;
	}

	#grid-item-header {
    grid-row: 1 / 2;
    padding: 10px;
    border-bottom-style: solid;
    border-bottom-color: rgb(171, 248, 48);
	}
  
  #grid-item-main {
    grid-row: 2 / 3;
    padding-left: 40px;
  }
  
  #grid-item-footer {
    grid-row: 3 / 4;
    padding-left: 10px;
    border-top-style: solid;
    border-top-color: rgb(171, 248, 48);
  }
  
  #grid-container-main {
    display: grid;
    height: 100%;
    grid-template-columns: auto 50% 160px;
    grid-template-rows: 50% 50%;
  }
    
  #grid-item-dialog {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 10px;
    font-size: small; 
  }
  
  #grid-item-gpxinfo {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 10px;
  }
  
  #grid-item-map {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 10px;
  }
  
  #grid-item-waypoints {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 10px;
  }
  
  #grid-item-aside { /* aside */
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    margin-top: 5px;
    border-style: dotted;
  }

}
